<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="/static/styles.less">
    <script src="//cdn.jsdelivr.net/npm/less" ></script>
    <title>МГУ Общежитие</title>
</head>
<body>

<div class="container">
    <div id="tv_error" class="tv_error" th:style="${(!findNull) ? 'display : none' : 'display : block;'}">
        <p>Студент не найден</p>
    </div>
    <div class="container" th:style="${(findNull) ? 'display : none' : 'display : block'}">
        Студент найден в следующих комнатах:
        <b>
            <table id="rooms">
                <tr th:each="room : ${rooms}">
                    <td th:text="${room}"></td>
                </tr>
            </table>
        </b>
        Студенты, живущие в данных комнатах:
        <table id="students">
            <thead>
            <tr class="table-header">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Комната</th>
                <th>Курс</th>
                <th>Телефон</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${results}">
                <td th:text="${student.secondName}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.patronymic}"></td>
                <td th:text="${student.room}"></td>
                <td th:text="${student.course}"></td>
                <td th:text="${student.phone}"></td>
            </tr>
            </tbody>
        </table>
        <form action="/" method="get">
            <button class="myButton" type="submit">
                Назад
            </button>
        </form>
    </div>
</div>
</body>
</html>