<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet/less" type="text/css" href="/static/styles.less">
    <script src="//cdn.jsdelivr.net/npm/less" ></script>
    <title>МГУ Общежитие</title>
</head>
<body>

<div class="container">
    <form action="/find" method="get">
        <div>
            <img src="http://i.ibb.co/ZzSR2XX/logo.png" style="width: 100px">
        </div>
        <div class="select-container">
            Введите ФИО для поиска
        </div>
        <div class="select-container" style="display: none">
            <label for="faculty">Выберите факультет</label>
            <select name="faculty" id="faculty" onchange="facultySelect(this)" >
                <option value="PHYSICAL">Физфак</option>
                <option value="CMC">ВМК</option>
                <option value="CHEMICAL">Химфак</option>
                <option value="GEOLOGICAL">Геологический</option>
            </select>
        </div>
<!--        <div id="tv_error" class="tv_error">-->
<!--            <p>Факультет еще не подключен к системе</p>-->
<!--        </div>-->
        <div id="student_div">
            <table>
                <tr>
                    <td>Фамилия</td>
                    <td><input type="text" name="surname" id="tv_surname" th:value="${surname}" required></td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td><input type="text" name="name" id="tv_name" th:value="${name}" required></td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td><input type="text" name="patronymic" id="tv_patronymic" th:value="${patronymic}" required></td>
                </tr>
            </table>
            <button class="myButton" type="submit">
                Найти
            </button>
        </div>
    </form>
</div>

<script>
    function facultySelect(f) {
        switch (f.value) {
            case "PHYSICAL":
                document.getElementById("tv_error").style.display = "none";
                document.getElementById("student_div").style.display = "block";
                break;
            default :
                document.getElementById("tv_error").style.display = "block";
                document.getElementById("student_div").style.display = "none";
        }
    }
</script>
</body>
</html>